footer
  div.container
    div.row
      div.footer.col-md-6
        p.footer-list
          a(href='') Link
        p.copyright.text-muted.small &copy; 2016 Bennett & Associates, CPAs. All rights reserved.
      div.footer.col-md-6
        img.img-responsive.footer-logo(src='')
