navbar.nav.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      span.navbar-brand.hidden-xs= siteTitle
      span.navbar-brand.hidden-sm.hidden-md.hidden-lg.hidden-xl= siteTitleShort
